@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.App > * {
  font-family: "Rubik", italic;
}

#root {
  font-size: 0.875rem;
  font-weight: 300;
}

h1 {
  font-weight: 800;
  font-size: 1.25rem;
}

h2 {
  font-weight: 600;
  font-size: 1.125rem;
}
