@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.App > * {
  font-family: "Rubik", italic;
}

b {
  font-weight: bold;
}

p {
  line-height: 2.25rem;
  font-size: 1rem;
}

#root {
  font-size: 1rem;
  font-weight: 300;
}

h1 {
  font-weight: 800;
  font-size: 1.25rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

h3 {
  font-size: 2rem;
  font-weight: 800;
}
